ul{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    display: flex;
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
img{
    height: 227px;
    width: 318px;
}
li a:hover{
    opacity: 0.9;
}
.favorite.not{
    color:black;
}
.content{
    padding:.5rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top:0.5rem;
    right:1rem;
    font-size: 1.2rem;
}
.star{
    margin-bottom: 0.2rem;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origin{
    flex: 9;
}
.origin span{
    border-radius: 2rem;
    background: whitesmoke;
    color:grey;
    font-size: 0.8rem;
    margin-right:0.4rem;
    display: inline-block;
}

.cook-time{
    font-size: 0.8rem;
  flex: 3;
text-align: center;
}
.price{
    color:#424242;
    margin-top: 0.3rem
    ;
}